---
interface Props {
  n: number | string;
  title: string;
}
const { n, title } = Astro.props;
---
<div class="step">
  <div class="n">{n}</div>
  <div>
    <h4>{title}</h4>
    <p><slot /></p>
  </div>
</div>
